#logging:
#  level:
#    ROOT: INFO
#    org.hibernate.SQL: INFO
#    uz.aquabill.app: INFO
management:
  health:
    elasticsearch:
      enabled: false
spring:
  devtools:
    restart:
      enabled: false
    livereload:
      enabled: false

  datasource:
    url: jdbc:postgresql://localhost:5432/offpos
    username: postgres
    password: postgres
#    hikari:
#      poolName: Hikari
#      auto-commit: false
#      data-source-properties:
#        cachePrepStmts: true
#        prepStmtCacheSize: 250
#        prepStmtCacheSqlLimit: 2048
#        useServerPrepStmts: true
    driver-class-name: org.postgresql.Driver
  jpa:
    elasticsearch:
      url: http://localhost:9200
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false