# Application Configuration
spring:
  main:
    allow-bean-definition-overriding: true

  # Database Configuration


  # H2 Database Console (for development only)
  h2:
    console:
      enabled: true
      path: /h2-console

  # JPA Configuration
#  jpa:
#    open-in-view: false
#    show-sql: false
#    properties:
#      hibernate:
#        jdbc:
#          batch_size: 25
#          time_zone: UTC
#        order_inserts: true
#        order_updates: true
#        generate_statistics: false
#        format_sql: true
#        use_sql_comments: true
#    hibernate:
#      ddl-auto: validate
#      naming:
#        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
#  datasource:
#    url: jdbc:h2:mem:rmsdb
#    driver-class-name: org.h2.Driver
#    username: sa
#    password: ""
  datasource:
    url: jdbc:h2:mem:rmsdb
    username: sa
    password: ""
    driver-class-name: org.h2.Driver
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 600000
      max-lifetime: 1800000
      auto-commit: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  # Security Configuration
  security:
    user:
      name: admin
      password: admin123

